<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>951528668411-jiqha4qur2pqq5qhbjvrcihkd2t7ccfu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.951528668411-jiqha4qur2pqq5qhbjvrcihkd2t7ccfu</string>
	<key>API_KEY</key>
	<string>AIzaSyBz08mfbbNRrDSPz3atNZItFBn9WIkFvYk</string>
	<key>GCM_SENDER_ID</key>
	<string>951528668411</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.entelect.entelectApp</string>
	<key>PROJECT_ID</key>
	<string>entelect-app</string>
	<key>STORAGE_BUCKET</key>
	<string>entelect-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951528668411:ios:57d96086463f443062845e</string>
</dict>
</plist>