<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>371301374064-b25f3ujr7irrkj5rt508s17mln7vplq1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.371301374064-b25f3ujr7irrkj5rt508s17mln7vplq1</string>
	<key>API_KEY</key>
	<string>AIzaSyAjU4A41FQ2Tq7Qo6Jk-bl6Q8jASpi0F0g</string>
	<key>GCM_SENDER_ID</key>
	<string>371301374064</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vanzylarno.lostpet</string>
	<key>PROJECT_ID</key>
	<string>lost-pet-dcffd</string>
	<key>STORAGE_BUCKET</key>
	<string>lost-pet-dcffd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:371301374064:ios:83204293df49926050bcb5</string>
</dict>
</plist>